<%- include('./partials/sides-bar.ejs') %>

<main>
  <div class="first-profile-part">
    <div class="first-profile-part-leftside">
      <img class="profile-picture" src="/images/<%=user.picture%>" alt="" />
      <ul class="ul-first-profile-part">
        <li id="username"><%=user.username%></li>
        <li><%= user.age %> years old</li>
        <li><%= user.country %></li>
        <li>Last connexion</li>
        <li>
          Languages
          <ul class="languages-ul">
            <% user.languages?.forEach(language => { %>
            <li><%=language.name%></li>
            <% }) %>
          </ul>
        </li>
      </ul>
    </div>
    <div class="first-profile-part-rightside">
      <h2 class="intro-title">Presentation</h2>
      <p class="intro-content"><%= user.presentation %></p>
    </div>
  </div>
  <div class="second-profile-part">
    <% answers.forEach(answer => { %>
    <strong class="question"><%=answer.question.name%></strong>

    <p class="answer"><%=answer.name%></p>
    <% }) %>
  </div>
</main>

<%- include('./partials/footer.ejs') %>
