<%- include('./partials/sides-bar.ejs') %>

<main>
  <div class="search-first-part">
    <div class="search-left-side">
      <h2>What you're looking for :</h2>
      <form method="POST" action="/search">
        <div>
          <span>Gender : </span>
          <input type="radio" name="gender" id="gender-male" value="male" <%= locals.gender ===
          "male" ? "checked" : ""%> />
          <label for="gender-male">male</label>
          <input type="radio" name="gender" id="gender-female" value="female" <%= locals.gender ===
          "female" ? "checked" : ""%> />
          <label for="gender-female">female</label>
        </div>
        <div>
          <span>
            <span>Age: between</span>
            <select name="minAge" id="">
              <% for (let i=18; i<86; i++) { %>
              <option value="<%=i%>" <%=+locals.minAge 
                === i ? "selected" : "" %> > <%=i%>
              </option>
              <% } %>
            </select></span
          >
          <span>
            <span> and</span>
            <select name="maxAge" id="">
              <% for (let i=18; i<86; i++) { %>
              <option value="<%=i%>" <%=+locals.maxAge
                === i ? "selected" : ""%> > <%=i%>
              </option>
              <% } %>
            </select></span
          >
        </div>

        <div>
          <span>Country</span>
          <select name="country" id="">
            <% if (locals.countries?.length) { %> <% countries.forEach(country => {%>
            <option value="<%=country.name%>" <%=locals.country
              === country.name ? "selected" : ""%> ><%=country.name%>
            </option>
            <% }); %> <% } %>
          </select>
        </div>
        <div>
          <input type="checkbox" name="hasPicture" id="hasPicture" <%= locals.hasPicture ? "checked"
          : ""%>/>
          <label for="hasPicture">only members with a profile picture</label>
        </div>
        <div>
          <input type="checkbox" name="hasPresentation" id="hasPresentation" <%=
          locals.hasPresentation ? "checked" : ""%>/>
          <label for="hasPresentation">only members with a profile presentation </label>
        </div>
        <button class="formButton">Search penpal</button>
      </form>
    </div>
    <div class="search-right-side">
      <img src="/images/greetings-friends.svg" alt="" />
    </div>
  </div>
  <% if (locals.profiles?.length) { %>
  <div class="search-second-part">
    <% profiles.forEach(profile => {%>

    <div class="search-result">
      <div><img src="/images/<%= profile.picture || "rabbit.jpg" %>" alt="" /></div>
      <div class="search-result-introduction">
        <span><%=profile.username%> </span>
        <span>
          <% if (profile.presentation) { %> <%=profile.presentation%> <% } else { %>
          <p>No presentation added</p>
          <% } %>
        </span>
        <a href="/profile/<%=profile.id%>"> visit profile</a>
      </div>
    </div>
    <% }) %>
  </div>
  <% } %>
</main>

<%- include('./partials/footer.ejs') %>
